body {
  background: linear-gradient(to bottom, white, rgb(2, 50, 123));
}

.contribute {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 120px;
}
.contributeHead{
  margin-bottom: 40px;
  font-size: 70px;
  font-weight: 600;
  font-family: monospace;
  color: white;
  text-align: center;
  
}
