.landing {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  overflow-y: hidden;
  background: linear-gradient(to bottom, white, rgb(2, 50, 123));
  color: white;
}

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 60%;
  background-color: rgb(17 24 68);
}

.rightArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.leftArea {
  width: 50%;
  height: 100%;
}

.image img {
  object-fit: cover;
  height: 82.4vh;
  width: 100%;
  object-fit: cover;
}



.btnlogin {
  width: 11vw;
  border: 1px solid black;
  border-radius: 12px;
  }

.btnlogin:hover{
  opacity: 0.8;
}