.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orgName {
  margin-top: 20px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  width: 10rem;
  border-radius: 5px;
  box-decoration-break: none;
}

button {
  margin-top: 10px;
  margin-right: 140px;
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  cursor: pointer;
}

.head {
  color: white;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: 700;
}
